#credits-container {
  background: rgba(56, 55, 109, 0.542);
  backdrop-filter: blur(10px) saturate(180%) brightness(0.9);
  -webkit-backdrop-filter: blur(10px) saturate(180%) brightness(0.9);
  border: 1px solid rgba(173, 187, 214, 0.3);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(99, 101, 168, 0.37);
  margin: 2rem;
  padding: 2rem;
  color: white;
  opacity: 0.8;

  font-family: Bold, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#credits-text {
  width: 72%;
  max-width: 900px;

  padding: 1rem;
  
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

